
.formRoles {
  width: 200px;
    height: 100px;
    border-radius: 10%;
    border:2px solid #f0f0f0;    
    margin-left: 210px;
    margin-bottom:  10px;
}
.formRoles .input:focus{
   
    border: 10px;
    box-shadow: 0 0 10px 1px #45B31D;
    
}

#tableReporteProyecto thead th td{
    border: 1px #f0f0f0;
    
}